# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
*.env

# Jupyter and Streamlit files
.ipynb_checkpoints/
*.streamlit/

# OS files
.DS_Store
Thumbs.db

# Models and large files
*.joblib
*.pkl
*.csv

# Git and Logs
*.log
.git/
